@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Outfit;
}

main {
  background: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 2rem);
}

.container {
  max-width: 335px;
  height: 500px;
  border-radius: 20px;
  background: white;
  padding: 0.1rem 0;
}

.container::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.226);
  min-width: 345px;
  min-height: 510px;
  z-index: -1;
  filter: blur(1rem);
}

.sr-only {
  position: absolute;
  left: -10000px;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

.content {
  text-align: center;
}

.improve-skills {
  color: hsl(218, 44%, 22%);
  font-size: 18px;
  padding: 0 4rem;
  font-weight: 700;
}

.content span {
  font-size: 13px;
  color: hsl(220, 15%, 55%);
  letter-spacing: 0.04rem;
}

.qr {
  text-align: center;
  margin: 18px 0px;
}

.qr img {
  width: 90%;
  border-radius: 10px;
}

footer {
  height: 2rem;
  background: hsl(212, 45%, 89%);
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
